/* Base */

.contentWrapper {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  min-height: var(--size-height-tag);
  border-radius: var(--border-radius-tag);
  padding: 5px var(--spacing-8);
  cursor: default;
  font-family: inherit;
  white-space: normal;
  text-align: left;
  min-width: 0;
  overflow-wrap: break-word;
  hyphens: auto;
  border-style: solid;
  border-width: 1px;

  /* fixing things for IE11 ... */
  width: 100%;
}

.wrapper {
  min-width: 0;
  display: flex;
}

.plainLink,
.plainLink:hover,
.plainLink:active {
  color: inherit;
  text-decoration: none;
}

/* Normal */

.wrapperTypeNormal {
  background-color: var(--background-color-tag-pristine);
}

.contentWrapperNormal {
  border-color: var(--border-color-tag-pristine);
}

/* Warning */

.wrapperTypeWarning {
  background-color: var(--background-color-tag-warning);
}

.contentWrapperWarning {
  border-color: var(--border-color-tag-warning);
}

/* Clickable */

.clickableContentWrapper {
  cursor: pointer;
}

.clickableContentWrapper:hover {
  box-shadow: var(--shadow-box-tag-hover);
}

.clickableContentWrapperNormal:hover {
  border-color: var(--border-color-tag-focus);
}

.clickableContentWrapperWarning:hover {
  border-color: var(--border-color-tag-warning-hover);
  border-right: 1px solid var(--border-color-tag-pristine);
}

.clickableRemovableContentWrapperNormal:hover {
  border-right: 1px solid var(--border-color-tag-pristine);
}

.clickableRemovableContentWrapperWarning {
  border-right: 1px solid var(--border-color-tag-warning);
}

/* Removable */

.removableContent {
  padding-right: var(--spacing-8);
}

.removeWrapper {
  border-color: var(--border-color-tag-pristine);
  padding: 0 var(--spacing-4);
  border-radius: 0 var(--border-radius-tag) var(--border-radius-tag)
    0;
  display: flex;
  align-items: center;
  background: inherit;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.removeWrapper:hover {
  background-color: var(--background-color-tag-normal-hover);
  box-shadow: var(--shadow-box-tag-hover);
}

.removeWrapperTypeWarning {
  border-color: var(--border-color-tag-warning);
}

.removeWrapperTypeWarning:hover {
  background-color: var(--background-color-tag-warning-hover);
}

.removeWrapper svg {
  fill: var(--font-color-default);
}

/* Disabled */

.disabledWrapper {
  background-color: var(--background-color-tag-disabled);
}

.disabledContent {
  color: var(--font-color-disabled);
}

.disabledRemove:hover {
  background: inherit;
  box-shadow: none;
}

.disabledRemove svg {
  fill: var(--font-color-disabled);
}
