/* Clickable */

.clickableContentWrapper:hover {
  box-shadow: var(--shadow-box-tag-hover);
}

.clickableContentWrapperNormal:hover {
  border-color: var(--border-color-tag-focus);
}

.clickableContentWrapperWarning:hover {
  border-color: var(--border-color-tag-warning-hover);
  border-right: 1px solid var(--border-color-tag-pristine);
}

.clickableRemovableContentWrapperNormal:hover {
  border-right: 1px solid var(--border-color-tag-pristine);
}

.clickableRemovableContentWrapperWarning {
  border-right: 1px solid var(--border-color-tag-warning);
}
