@import '../../../../materials/transitions.mod.css';

:root {
  --shadow-fixed-column: 4px -2px 4px -4px rgba(0, 0, 0, 0.3);
}

.fixed-static {
  background: var(--color-gray-90);
}

.fixed-column {
  box-shadow: var(--shadow-fixed-column);
}

.header-cell {
  background: var(--color-navy);
  color: var(--color-white);
}

.wrapper {
  outline: 1px solid var(--color-gray-90);
}

.hovered-row {
  cursor: pointer;
  transition: var(--transition-standard);
}

div:hover .hovered-row {
  background: var(--color-gray-90);
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

/* RV */

:global(.ReactVirtualized__Grid) {
  background: var(--color-white);

  /* Removes :focus ring from table */
  outline-width: 0;
}
