:root {
  --width-currency-label: 60px;
}

.field-container {
  width: 100%;
  position: relative;
  display: flex;
}

.amountInput {
  display: flex;
  flex: 1;
  color: var(--token-font-color-default);
  font-family: var(--token-font-family-default);
  font-size: var(--token-font-size-default);
  height: var(--token-size-height-input);
  border-top-right-radius: var(--token-border-radius-input);
  border-bottom-right-radius: var(--token-border-radius-input);
  border: 1px var(--token-border-color-input-pristine) solid;
  padding: 0 var(--spacing-8);
  transition: var(--transition-standard);
  outline: none;
  box-shadow: none;
  appearance: none;
  margin-left: 0;
}

.amountInput::placeholder {
  color: var(--token-font-color-placeholder);
}

/* States for amount */

.amount-default {
  composes: amountInput;
  border-color: var(--token-border-color-input-pristine);
  background-color: var(--token-background-color-input-pristine);
}

.amount-disabled {
  composes: amountInput;
  cursor: not-allowed;
  color: var(--token-font-color-disabled);
  border-color: var(--token-border-color-input-disabled);
  background-color: var(--token-background-color-input-disabled);
  opacity: 1; /* fix for mobile safari */
}

.amount-readonly {
  composes: amountInput;
  border-color: var(--token-border-color-input-readonly);
  color: var(--token-font-color-readonly);
  cursor: default;
}

.amount-warning {
  composes: amountInput;
  color: var(--token-font-color-warning);
  border-color: var(--token-border-color-input-warning);
}

.amount-error {
  composes: amountInput;
  color: var(--token-font-color-error);
  border-color: var(--token-border-color-input-error);
}

.amount-focus {
  composes: amountInput;
  border-color: var(--token-border-color-input-focus);
  background: var(--token-background-color-input-pristine);
  color: var(--token-font-color-default);
}

.amount-default:active,
.amount-default:focus {
  border-color: var(--token-border-color-input-focus);
  background: var(--token-background-color-input-pristine);
  color: var(--token-font-color-default);
}
