.currency-label {
  display: flex;
  color: var(--font-color-disabled);
  background-color: var(--background-color-input-disabled);
  border-top-left-radius: var(--border-radius-input);
  border-bottom-left-radius: var(--border-radius-input);
  border: 1px var(--border-color-input-disabled) solid;
  border-right: 0;
  padding: 0 var(--spacing-8);
  align-items: center;
  min-width: 72px;
  box-sizing: border-box;
}

.field-container {
  font-family: var(--font-family-default);
  width: 100%;
  position: relative;
  display: flex;
}

.amountInput {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  color: var(--font-color-default);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  height: var(--size-height-input);
  border-top-right-radius: var(--border-radius-input);
  border-bottom-right-radius: var(--border-radius-input);
  border: 1px var(--border-color-input-pristine) solid;
  padding: 0 var(--spacing-8);
  transition: var(--transition-standard);
  outline: none;
  box-shadow: none;
  appearance: none;
  margin-left: 0;
}

.amountInput::placeholder {
  color: var(--font-color-placeholder);
}

/* States for amount */

.amount-default {
  composes: amountInput;
  border-color: var(--border-color-input-pristine);
  background-color: var(--background-color-input-pristine);
}

.amount-disabled {
  composes: amountInput;
  cursor: not-allowed;
  color: var(--font-color-disabled);
  border-color: var(--border-color-input-disabled);
  background-color: var(--background-color-input-disabled);
  opacity: 1; /* fix for mobile safari */
}

.amount-readonly {
  composes: amountInput;
  border-color: var(--border-color-input-readonly);
  color: var(--font-color-readonly);
  cursor: default;
}

.amount-warning {
  composes: amountInput;
  color: var(--font-color-warning);
  border-color: var(--border-color-input-warning);
}

.amount-error {
  composes: amountInput;
  color: var(--font-color-error);
  border-color: var(--border-color-input-error);
}

.amount-focus {
  composes: amountInput;
  border-color: var(--border-color-input-focus);
  background: var(--background-color-input-pristine);
  color: var(--font-color-default);
}

.amount-default:active,
.amount-default:focus {
  border-color: var(--border-color-input-focus);
  background: var(--background-color-input-pristine);
  color: var(--font-color-default);
}
