@import '../colors/base-colors.mod.css';

:root {
  /**
    * Backgrounds
    *
    * Use these tokens for background related properties only.
    * Do not use these for borders colors or text colors.
    *
    * Index
    * • Inputs
    *  ◦ Text fields
    *   ▪ Background Colors
    * • Tags
    *  ◦ Background Colors
    */

  /* ==========================================================================
   Inputs
   ========================================================================== */

  /* Text fields (text, password, number, textarea)
   ========================================================================== */

  /* Colors */
  --token-background-color-input-pristine: var(--color-white);
  --token-background-color-input-disabled: var(--color-navy-98);
  --token-background-color-input-hover: var(--color-gray-90);
  --token-background-color-input-selected: var(--color-navy-95);

  /* ==========================================================================
   Tags (used in Tags and SelectInput)
   ========================================================================== */

  /* Colors */
  --token-background-color-tag-pristine: var(--color-gray-95);
  --token-background-color-tag-warning: var(--color-orange-95);
  --token-background-color-tag-disabled: var(--color-gray-95);
  --token-background-color-tag-normal-hover: var(--color-gray-60);
  --token-background-color-tag-warning-hover: var(--color-orange);
}
