@import '../colors/base-colors.mod.css';
@import '../borders.mod.css';

:root {
  /**
    * Borders
    *
    * Use these tokens for border related properties only.
    * Do not use these for background colors or text colors.
    *
    * Index
    * • Inputs
    *  ◦ Text fields
    *   ▪ Border Colors
    *   ▪ Border Radius
    * • Tags
    *  ◦ Border Colors
    *  ◦ Border Radius
    */

  /* ==========================================================================
   Inputs
   ========================================================================== */

  /* Text fields (text, password, number, textarea)
   ========================================================================== */

  /* Colors */
  --token-border-color-input-pristine: var(--color-gray-60);
  --token-border-color-input-focus: var(--color-green);
  --token-border-color-input-disabled: var(--color-gray);
  --token-border-color-input-readonly: var(--color-gray);
  --token-border-color-input-error: var(--color-red);
  --token-border-color-input-warning: var(--color-orange);

  /* Radius */
  --token-border-radius-input: var(--border-radius-6);

  /* ==========================================================================
   Tags (used in Tags and SelectInput)
   ========================================================================== */

  /* Colors */
  --token-border-color-tags-pristine: var(--color-gray-60);
  --token-border-color-tags-warning: var(--color-orange);
  --token-border-color-tags-focus: var(--color-green);
  --token-border-color-tags-warning-hover: var(--color-orange);

  /* Radius */
  --token-border-radius-tags: var(--border-radius-2);
}
