@import '../colors/base-colors.mod.css';

:root {
  /**
    * Fonts
    *
    * Use these tokens for text related properties only.
    * Do not use these for background colors or borders colors.
    *
    * Index
    * • Families
    * • Colors
    * • Sizes
    */

  /* ==========================================================================
   Families
   ========================================================================== */

  --token-font-family-default: 'Open Sans', sans-serif;

  /* ==========================================================================
   Colors
   ========================================================================== */

  --token-font-color-default: var(--color-black);
  --token-font-color-disabled: var(--color-gray-60);
  --token-font-color-error: var(--color-red);
  --token-font-color-warning: var(--color-orange);
  --token-font-color-readonly: var(--color-gray-60);
  --token-font-color-placeholder: var(--color-gray-60);

  /* ==========================================================================
   Sizes
   ========================================================================== */

  --token-font-size-body: 13px;
}
