{
  "trailingComma": "es5",
  "singleQuote": true,
  "parser": "babel",
  "overrides": [
    {
      "files": "*.mdx",
      "options": { "parser": "markdown" }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": { "parser": "typescript" }
    },
    {
      "files": "*.json",
      "options": { "parser": "json" }
    }
  ]
}