{
  "trailingComma": "es5",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.mdx",
      "options": { "parser": "markdown" }
    },
    {
      "files": "*.js",
      "options": { "parser": "babel" }
    }
  ]
}