{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "customSyntax": "postcss-styled-syntax",
  "rules": {
    "font-family-name-quotes": "always-unless-keyword",
    "function-url-quotes": "always",
    "selector-attribute-quotes": "always",
    "selector-pseudo-class-no-unknown": [
      true,
      { "ignorePseudoClasses": ["global"] }
    ],
    "order/properties-order": [
      ["composes"],
      { "unspecified": "bottom" }
    ],
    "declaration-block-no-duplicate-properties": [
      true,
      { "ignoreProperties": ["composes"] }
    ],
    "property-no-unknown": [
      true,
      { "ignoreProperties": ["composes"] }
    ],

    "rule-empty-line-before": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "no-empty-source": null,
    "declaration-empty-line-before": null,
    "function-name-case": null,
    "value-keyword-case": null
  }
}
