.headingControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  margin: 8px 16px;
  padding: 0 2%;
}

.month {
  flex: 1 1 auto;
  text-align: center;
  color: var(--token-font-color-default);
  font-size: var(--token-font-size-default);
}

.daysHeaderContainer {
  padding: var(--spacing-16) var(--spacing-16);
  border-top: 1px solid var(--color-gray-90);
}

.daysHeader {
  padding-left: 2%;
}

.controlContainer {
  display: flex;
}

.controlCalendar {
  border: 1px solid var(--token-border-color-input-pristine);
  border-radius: var(--token-border-radius-input);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  padding: 0 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.controlCalendarDisabled {
  composes: controlCalendar;
  border-color: var(--token-border-color-input-disabled);
  background-color: var(--token-background-color-input-disabled);
}

.controlCalendarError {
  composes: controlCalendar;
  border-color: var(--token-border-color-input-error);
}

.controlCalendarWarning {
  composes: controlCalendar;
  border-color: var(--token-border-color-input-warning);
}

.controlCalendarFocused {
  composes: controlCalendar;
  border-color: var(--token-border-color-input-focus);
}

.daysHeaderItem {
  color: var(--color-gray-60);
  font-weight: bold;
  cursor: default;
  font-size: var(--token-font-size-small);
  display: inline-block;
  width: 12%;
  margin: 0 1%;
  text-align: center;
}

.daysContainer {
  padding-top: 5px;
  padding-left: 2%;
}

.daysContainerContainer {
  /* we need to deduct the bottom-margin of the options (a day) */
  padding: 0 var(--spacing-8) calc(var(--spacing-16) - var(--spacing-4));
}
