@import '../materials/colors.mod.css';

.tone-critical {
  background-color: var(--new-color-red-95);
  border: 1px solid var(--new-color-red);
  border-radius: 2px;
}

.tone-warning {
  background-color: var(--new-color-orange-95);
  border: 1px solid var(--new-color-orange);
  border-radius: 2px;
}

.tone-positive {
  background-color: var(--new-color-green-95);
  border: 1px solid var(--new-color-green);
  border-radius: 2px;
}

.tone-information {
  background-color: var(--new-color-blue-95);
  border: 1px solid var(--new-color-blue);
  border-radius: 2px;
}

.tone-primary {
  background-color: var(--new-color-green-95);
  border: 1px solid var(--new-color-green);
  border-radius: 2px;
}

.tone-secondary {
  background-color: var(--new-color-gray-90);
  border: 1px solid var(--new-color-gray-60);
  border-radius: 2px;
}
