@import '../materials/colors.mod.css';

.tone-critical {
  background-color: var(--new-color-red-95);
  border: 1px solid var(--new-color-red);
  border-radius: 2px;
}

.tone-warning {
  background-color: color(var(--new-color-orange) alpha(15%));
  border: 1px solid var(--new-color-orange);
  border-radius: 2px;
}

.tone-positive {
  background-color: color(var(--color-green) alpha(15%));
  border: 1px solid var(--color-green);
  border-radius: 2px;
}

.tone-information {
  background-color: var(--new-color-blue-95);
  border: 1px solid var(--new-color-blue);
  border-radius: 2px;
}

.tone-primary {
  background-color: color(var(--color-primaryGreen) alpha(15%));
  border: 1px solid var(--color-primaryGreen);
  border-radius: 2px;
}

.tone-secondary {
  background-color: color(var(--color-greyNevada) alpha(15%));
  border: 1px solid var(--color-greyNevada);
  border-radius: 2px;
}
