*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  color: var(--color-solid);
  font-family: var(--font-family);
  font-size: 13px;
}

@supports (font-variation-settings: normal) {
  html, body {
    font-family: var(--font-family-variable);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

p {
  color: var(--color-solid);
  margin: 0;
}
