.wrapper {
  list-style-type: none;
  display: inline-block;
  margin: 2px 1%;
  width: 12%;
}

.base {
  text-align: center;
  padding: var(--spacing-8) 0;
  cursor: default;
}

.day {
  composes: base;
  border-radius: var(--border-radius-4);
}

.heading {
  composes: base;
  color: var(--color-gray-60);
}

.spacing {
  composes: base;
}

/* States */

.highlighted {
  background-color: var(--color-gray-90);
}

.selected {
  background-color: var(--color-green);
  color: var(--color-white);
}

.rangeStart,
.rangeEnd {
  background-color: var(--color-green-40);
  color: var(--color-white);
}

.rangeBetween {
  background-color: var(--color-gray-90);
  color: var(--token-font-color-default);
}

.today {
  color: var(--color-blue);
  font-weight: bold;
}
