@import '../../materials/colors.mod.css';

.size {
  width: 100%;
  height: inherit;
}

.transition-standard {
  transition: all 0.2s ease;
}

.input-text {
  composes: transition-standard;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  color: var(--color-greyTundora);
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif !important;
  padding: 7.5px 10px;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-form {
  composes: input-text;
  background-color: var(--color-coolGrey);
  border-color: var(--color-white);
  width: 100%;
}

.input-secondary {
  composes: input-form;
  composes: size;
}

/*
.input-primary {
  composes: input-basic from '@commercetools-local/core/_styles/forms.mod.css';
  composes: size;
}
*/

.invalid-field {
  /* this needs !important because react-select has a :focus style that
    stops the border colour being set unless the element is blurred */
  border-color: var(--color-CTOrange) !important;
}

.invalid {
  composes: invalid-field;
  border: 1px solid;
}

.disabled {
  cursor: not-allowed;
  background-color: var(--color-greyAlabaster);
  color: var(--color-greyDove);
  opacity: 1; /* fix for mobile safari */
}
