@import '../../materials/colors.mod.css';
@import '../../materials/spacings.mod.css';
@import '../../materials/shadows.mod.css';
@import '../../materials/borders.mod.css';
@import '../../materials/transitions.mod.css';
@import '../../materials/sizes.mod.css';

:root {
  --height-input: 32px;
}

/* Base */

.container {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  height: var(--height-input);
  border-radius: var(--border-radius-6);
  border-style: solid;
  border-width: 1px;
  padding: 0 var(--spacing-8);
  transition: var(--transition-standard);
  outline: none;
  box-shadow: none;
  appearance: none;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

/* Spinner */

.spinner {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* Tones */

.pristine {
  composes: input;
  border-color: var(--new-color-gray-60);
  color: var(--new-color-black);
}

.warning {
  composes: input;
  color: var(--new-color-orange);
  border-color: var(--new-color-orange);
}

.error {
  composes: input;
  color: var(--new-color-red);
  border-color: var(--new-color-red);
}

.disabled {
  composes: input;
  cursor: not-allowed;
  background-color: var(--new-color-navy-98);
  border-color: var(--new-color-gray);
  color: var(--new-color-gray-60);
  opacity: 1; /* fix for mobile safari */
}

.readonly {
  composes: input;
  color: var(--new-color-gray-60);
  border-color: var(--new-color-gray);
  cursor: default;
}

/* States */

.pristine:active,
.pristine:focus {
  border-color: var(--new-color-green-25);
  color: var(--new-color-black);
}
