@import '../../materials/tokens/tokens.mod.css';
@import '../../materials/colors/base-colors.mod.css';
@import '../../materials/spacings.mod.css';
@import '../../materials/shadows.mod.css';
@import '../../materials/borders.mod.css';
@import '../../materials/transitions.mod.css';
@import '../../materials/sizes.mod.css';

/* Base */

.container {
  width: 100%;
  position: relative;
}

.input {
  color: var(--token-font-color-default);
  font-family: var(--token-font-family-default);
  font-size: var(--token-font-size-default);
  height: var(--token-size-height-input);
  border-radius: var(--token-border-radius-input);
  width: 100%;
  border-style: solid;
  border-width: 1px;
  padding: 0 var(--spacing-8);
  transition: var(--transition-standard);
  outline: none;
  box-shadow: none;
  appearance: none;
}

.input::placeholder {
  color: var(--token-font-color-placeholder);
}

/* States */

.pristine {
  composes: input;
  border-color: var(--token-border-color-input-pristine);
  background-color: var(--token-background-color-input-pristine);
}

.warning {
  composes: input;
  color: var(--token-font-color-warning);
  border-color: 1px solid var(--token-border-color-input-warning);
}

.error {
  composes: input;
  color: var(--token-font-color-error);
  border-color: var(--token-border-color-input-error);
}

.disabled {
  composes: input;
  cursor: not-allowed;
  color: var(--token-font-color-disabled);
  border-color: var(--token-border-color-input-disabled);
  background-color: var(--token-background-color-input-disabled);
  opacity: 1; /* fix for mobile safari */
}

.readonly {
  composes: input;
  border-color: var(--token-border-color-input-readonly);
  color: var(--token-font-color-readonly);
  cursor: default;
}

/* States */

.pristine:active,
.pristine:focus {
  border-color: var(--token-border-color-input-focus);
  background: var(--token-background-color-input-focus);
  color: var(--token-font-color-default);
}
