@import '../materials/colors.mod.css';

.theme-black {
  fill: var(--new-color-black);
}

.theme-grey {
  fill: var(--new-color-gray-60);
}

.theme-white {
  fill: var(--new-color-white);
}

.theme-blue {
  fill: var(--new-color-blue);
}

.theme-green {
  fill: var(--new-color-green-25);
}

.theme-apple-green {
  fill: var(--new-color-green);
}

.theme-orange {
  fill: var(--new-color-orange);
}

.theme-red {
  fill: var(--new-color-red);
}

svg.scale:not(:root) {
  width: 100%;
  height: auto;
}
