@import '../../materials/borders.mod.css';
@import '../../materials/colors.mod.css';
@import '../../materials/shadows.mod.css';
@import '../../materials/sizes.mod.css';
@import '../../materials/spacings.mod.css';

.inputWrapper {
  display: none;
}

.option {
  cursor: pointer;
}

.optionDisabled {
  color: var(--color-primaryGrey);
  cursor: not-allowed;
}
