.button-big-wrapper {
  border-radius: var(--border-radius-6);
}

.button-small-wrapper {
  border-radius: var(--border-radius-4);
}

/* The actual button element */

.button-big-wrapper > button {
  padding: 0 var(--spacing-16) 0 var(--spacing-16);
  height: var(--big-button-height);
  border-radius: var(--border-radius-6);
}

.button-small-wrapper > button {
  padding: 0 var(--spacing-8) 0 var(--spacing-8);
  height: var(--small-button-height);
  border-radius: var(--border-radius-4);
}
