/* Base */

.input {
  background-color: var(--background-color-for-input);
  color: var(--font-color-for-input);
  font-family: var(--font-family);
  font-size: var(--font-size-for-input);
  border-radius: var(--border-radius-for-input);
  height: var(--size-height-input);
  border: 1px var(--border-color-for-input) solid;
  width: 100%;
  padding: 0 var(--spacing-8);
  transition: var(--transition-standard);
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  appearance: none;
}

.input::placeholder {
  color: var(--placeholder-font-color-for-input);
}

/* States */

.pristine {
  composes: input;
  border-color: var(--border-color-for-input);
  background-color: var(--background-color-for-input);
}

.warning {
  composes: input;
  color: var(--font-color-for-input-when-warning);
  border-color: var(--border-color-for-input-when-warning);
}

.error {
  composes: input;
  color: var(--font-color-for-input-when-error);
  border-color: var(--border-color-for-input-when-error);
}

.disabled {
  composes: input;
  cursor: not-allowed;
  color: var(--font-color-for-input-when-disabled);
  border-color: var(--border-color-for-input-when-disabled);
  background-color: var(--background-color-for-input-when-disabled);
  opacity: 1; /* fix for mobile safari */
}

.readonly {
  composes: input;
  border-color: var(--border-color-for-input-when-readonly);
  color: var(--font-color-for-input-when-readonly);
  cursor: default;
}

/* States */

.pristine:active,
.pristine:focus {
  border-color: var(--border-color-for-input-when-focused);
  background: var(--background-color-for-input);
  color: var(--font-color-for-input);
}
