@import '../../materials/colors.mod.css';
@import '../../materials/spacings.mod.css';

.button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: none;
  background: none;
  padding: 0;
  min-height: initial;
}

.button > * + * {
  margin: 0 0 0 var(--spacing-4);
}

/* Set the colors for the different interactions by selecting the `p` element, rendered by `<Text.Body>` */

.primary p {
  color: var(--new-color-green-25);
}

.primary:hover p {
  color: var(--new-color-green);
}

.secondary p {
  color: var(--color-greyTundora);
}

.disabled p {
  color: var(--color-primaryGrey);
}

.button:hover.disabled p {
  color: var(--color-primaryGrey);
}
