.container {
  display: flex;
  padding: 10px 2% 6px;
  margin-bottom: 4px;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  align-items: center;
}

.month {
  display: flex;
}

.month > * {
  margin: 0 4px 0 0;
}

.year {
  display: flex;
}

.year > * {
  margin: 0 0 0 4px;
}
