:root {
  --size-icon-container: 24px;
  --size-icon-container-small: 16px;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--size-icon-container);
  width: var(--size-icon-container);
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: var(--shadow-7);
}

.header-icon-disabled {
  box-shadow: none;
}

.header-icon-small {
  height: var(--size-icon-container-small);
  width: var(--size-icon-container-small);
}

.header-icon-primary {
  background-color: var(--color-white);
}

.header-icon-urgent {
  background-color: var(--color-orange);
}

.truncate-header {
  min-width: 0;
}
