/* As this relies on SVG files, we need to sync them with our Design tokens colors */

/* The `id` attributes below, comes from the SVG files.
  Since they are all structured the same, we can target them with CSS
  to keep they in sync with our design tokens */

/* Checkbox */

.checkboxWrapper {
  display: flex;
  align-items: center;
}

.checkboxWrapper svg [id$='borderAndContent'] > [id$='border'] {
  stroke: 1px var(--border-color-input-pristine) solid;
}

.checkboxWrapper svg [id$='borderAndContent'] > [id$='content'] {
  fill: var(--border-color-input-focus);
}

/* Hidden input */

.inputWrapper {
  display: none;
}

/* Label */

.labelWrapper {
  cursor: pointer;
}

.labelWrapperDisabled {
  cursor: not-allowed;
}

/* hasError */

.hasError svg [id$='borderAndContent'] > [id$='content'] {
  fill: var(--border-color-input-error);
}

.hasError svg [id$='borderAndContent'] > [id$='border'] {
  stroke: var(--font-color-error);
}

/* isDisabled */

.isDisabled svg [id$='borderAndContent'] > [id$='content'] {
  fill: var(--font-color-disabled);
}

.isDisabled svg [id$='borderAndContent'] > [id$='border'] {
  stroke: var(--border-color-input-disabled);
}

/* Hover */

.labelWrapper:not(.labelWrapperDisabled, .labelWrapperError):hover
  svg
  [id$='borderAndContent']
  > [id$='border'] {
  stroke: var(--border-color-input-focus);
}

.isHovered svg [id$='borderAndContent'] > [id$='border'] {
  stroke: var(--border-color-input-focus);
}
