.grid {
  display: grid;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.base {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.header {
  composes: base;
  background-color: grey;
  color: white;
  position: sticky;
  top: 0;
}

.cell {
  composes: base;
}
