@import '../../spacings.mod.css';

.center {
  align-items: center;
}
.flexStart {
  align-items: flex-start;
}
.flexEnd {
  align-items: flex-end;
}
.stretch {
  align-items: stretch;
}

.xs,
.s,
.m,
.l,
.xl {
  display: flex;
  flex-direction: column;
}

.xs > * + * {
  margin: var(--spacing-4) 0 0;
}
.s > * + * {
  margin: var(--spacing-8) 0 0;
}
.m > * + * {
  margin: var(--spacing-16) 0 0;
}
.l > * + * {
  margin: var(--spacing-24) 0 0;
}
.xl > * + * {
  margin: var(--spacing-32) 0 0;
}
