.button {
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
  padding: 0;
  min-height: initial;
  cursor: pointer;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
