:root {
  /* Sizes */
  --font-h1: 32px;
  --font-h2: 24px;
  --font-h3: 20px;
  --font-h4: 16px;
  --font-h5: 14px;
  --font-body: 13px;
  --font-detail: 12px;

  /* Colors */
  --font-color: var(--color-black);
}

h1.headline {
  font-size: var(--font-h1);
}

h2.headline {
  font-size: var(--font-h2);
}

h3.headline {
  font-size: var(--font-h3);
}

h4.subheadline {
  font-size: var(--font-h4);
  font-weight: normal;
}

h5.subheadline {
  font-size: var(--font-h5);
  font-weight: normal;
}

.detail {
  font-size: var(--font-detail);
  display: block;

  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.primary {
    color: var(--color-green);
  }

  &.information {
    color: var(--color-blue);
  }

  &.secondary {
    color: var(--color-gray-60);
  }

  &.positive {
    color: var(--color-green-25);
  }

  &.negative {
    color: var(--color-red);
  }

  &.inverted {
    color: var(--color-white);
  }

  &.warning {
    color: var(--color-orange);
  }
}

.body-text,
small {
  color: var(--font-color);
}

.body-text {
  font-size: var(--font-body);
  color: var(--color-black);
  margin: 0;

  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.primary {
    color: var(--color-green);
  }

  &.information {
    color: var(--color-blue);
  }

  &.secondary {
    color: var(--color-gray-60);
  }

  &.positive {
    color: var(--color-green-25);
  }

  &.negative {
    color: var(--color-red);
  }

  &.inverted {
    color: var(--color-white);
  }
}

.inline-text {
  display: inline-block;
}

.wrap {
  white-space: pre-wrap;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1,
h2,
h3 {
  &.headline {
    color: var(--font-color);
    margin: 0;
    font-weight: 300;
  }
}

h4.subheadline,
h5.subheadline {
  margin: 0;
  color: var(--font-color);

  &.bold {
    font-weight: bold;
  }

  &.primary {
    color: var(--color-green);
  }

  &.information {
    color: var(--color-blue);
  }

  &.secondary {
    color: var(--color-gray-60);
  }

  &.positive {
    color: var(--color-green-25);
  }

  &.negative {
    color: var(--color-red);
  }
}
