@import '../../materials/colors.mod.css';
@import '../../materials/shadows.mod.css';
@import '../../materials/spacings.mod.css';
@import '../../materials/transitions.mod.css';
@import '../../materials/borders.mod.css';
@import '../../materials/colors.mod.css';

:root {
  --size-container-small: 16px;
  --size-container-big: 32px;
}

/*
* === BUTTON ELEMENT ===
*/

.button-appearance {
  display: inline-block;
  background-color: var(--color-white);
  box-shadow: var(--shadow-7-first), var(--shadow-7-second);
  color: var(--color-black);
  font-size: 1rem;
  transition: background-color var(--transition-linear-80ms),
    box-shadow var(--transition-easeinout-150ms);
}

/*
* === ICON CONTAINER ===
*/

.icon-container {
  margin: 0 var(--spacing-4) 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
* === CONTAINER ===
*/

.container {
  border-radius: var(--border-radius-6);
}

/* The actual button element */

.button {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-16);
  height: var(--size-container-big);
}

/*
* === THEMES ===
*/

/*
* — Default —
*/

/* Toggled button */

.active {
  box-shadow: var(--shadow-9-first), var(--shadow-9-second),
    var(--shadow-9-third);
  background-color: var(--color-white);
}

.active:hover {
  box-shadow: var(--shadow-9-first), var(--shadow-9-second),
    var(--shadow-9-third);
  background-color: var(--color-gray-95);
}

/* Disabled button */

.active.disabled,
.disabled {
  background-color: var(--color-navy-98);
  color: var(--color-gray-60);
  pointer-events: none;

  /* Simulates the border inside */
  box-shadow: 0 0 0 1px var(--color-gray) inset;
}

/* Default button */

.default:hover {
  box-shadow: var(--shadow-8-first), var(--shadow-8-second);
}

.default:active {
  box-shadow: var(--shadow-9-first), var(--shadow-9-second),
    var(--shadow-9-third);
  background-color: var(--color-white);
}

/*
* — Blue Theme —
*/

.theme-blue:hover {
  color: var(--color-blue);
}

/* Toggled button */

.theme-blue.active,
.theme-blue.active.disabled,
.theme-blue:active {
  color: var(--color-blue);
}

.theme-blue.disabled {
  color: var(--color-gray-60);
}
