@import '../../materials/spacings.mod.css';

.wrapper {
  overflow: hidden;
  width: 100%;
}

.wrapper {
  flex: 1;
}

.hint,
label {
  float: left;
  clear: both;
}

.hintIcon {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

.description {
  float: none;
  clear: both;
}

.badge {
  float: right;
  margin-left: var(--spacing-8);
}
