.container {
  display: flex;
}

.arrow {
  display: none;
  pointer-events: none; /* Do not unhover when on the icon */
}

.active .arrow {
  display: inherit;
}

.container:hover {
  cursor: pointer;
}

.container:hover .arrow {
  display: inherit;
}

.label {
  flex: 1 0 auto;
}
