.container {
  display: flex;
}

.arrow {
  display: none;
}

.active .arrow {
  display: inherit;
}

.container:hover {
  cursor: pointer;
}

.container:hover .arrow {
  display: inherit;
}

.label {
  flex: 1 0 auto;
}
