.container {
  display: flex;
}

.arrow {
  visibility: hidden; /* use visibility so react-virtualized can account for arrow-width on calcs */
  pointer-events: none; /* Do not unhover when on the icon */
}

.active .arrow {
  visibility: visible;
}

.container:hover {
  cursor: pointer;
}

.container:hover .arrow {
  visibility: visible;
}

.label {
  flex: 1 0 auto;
}
