.timeInput {
  width: 100%;
  text-align: center;
  border: 0;
  border-top: 1px solid var(--color-gray-90);
  padding: 10px 0;
  outline: 0;
  margin-top: var(--spacing-8);
  font-size: var(--token-font-size-default);
  color: var(--color-black);
}

.timeInput:disabled {
  /* Fixes background color in Firefox */
  background-color: var(--color-white);
}
