@import '../../materials/colors.mod.css';

.container {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: pre;
  border-bottom: 1px solid var(--color-gray-90);
  border-right: 1px solid var(--color-gray-90);
}

.container > * {
  flex: 1 0 100%;
  min-width: 0;
}
