@import '../colors/base-colors.mod.css';

:root {
  /**
    * Sizes
    *
    * Use these tokens for fixed height and width properties only.
    * Do not use these for background colors or text colors.
    *
    * Index
    * • Inputs
    *  ◦ Text fields
    *   ▪ Height
    * • Buttons
    *  ◦ Height
    */

  /* ==========================================================================
   Inputs
   ========================================================================== */

  /* Text fields (text, password, number, textarea)
   ========================================================================== */

  /* Height */
  --token-size-height-input: 32px;

  /* ==========================================================================
   Buttons
   ========================================================================== */

  /* Height */
  --token-size-height-button-big: 32px;
  --token-size-height-button-small: 24px;
}
