.date-input-container {
  width: 100%;
  align-items: center;
  display: flex;
  font-family: var(--font-family-default);
}

.date-input {
  width: 100%;
  appearance: none;
  background: var(--background-color-input-pristine);
  border-radius: var(--border-radius-input) 0 0
    var(--border-radius-input);
  border-bottom: 1px solid var(--border-color-input-pristine);
  border-left: 1px solid var(--border-color-input-pristine);
  border-top: 1px solid var(--border-color-input-pristine);
  border-right: none;
  height: var(--size-height-input);
  cursor: pointer;
  flex-grow: 1;
  font: inherit;
  margin-right: 0; /* stop that jumping */
  padding: var(--spacing-8);
  outline: 0;
}

/* Active/Focus */

.date-input:focus,
.date-input.focused,
.date-input:focus + .clear-icon-container,
.date-input.focused + .clear-icon-container {
  border-color: var(--border-color-input-focus);
  color: var(--font-color-default);
  transition: var(--transition-standard);
}

/* Warning */

.date-input.warning,
.date-input.warning + .clear-icon-container {
  color: var(--font-color-warning);
  border-color: var(--border-color-input-warning);
}

.icon-container.warning,
.icon-container.warning + .clear-icon-container {
  color: var(--font-color-warning);
  border-color: var(--border-color-input-warning);
}

/* Error */

.date-input.error,
.date-input.error + .clear-icon-container {
  color: var(--font-color-error);
  border-color: var(--border-color-input-error);
}

.icon-container.error,
.icon-container.error + .clear-icon-container {
  color: var(--font-color-error);
  border-color: var(--border-color-input-error);
}

/* Disabled */

.date-input:disabled {
  background-color: var(--background-color-input-disabled);
  color: var(--font-color-disabled);
  border-color: var(--border-color-input-disabled);
  cursor: not-allowed;
  opacity: 1; /* fix for mobile safari */
}

/* Icon */

.icon-container {
  align-items: center;
  background-color: var(--background-color-input-pristine);
  border: 1px solid var(--border-color-input-pristine);
  height: var(--size-height-input);
  cursor: pointer;
  display: flex;
  padding: var(--spacing-4);
  outline: 0;
}

.icon-container.focused:not(.error):not(.warning) {
  border-color: var(--border-color-input-focus);
}

.clear-icon-container {
  composes: icon-container;
  border-left: none;
  border-right: none;
}

.calendar-icon-container {
  composes: icon-container;
  border-top-right-radius: var(--border-radius-input);
  border-bottom-right-radius: var(--border-radius-input);
}

.icon-container-disabled {
  cursor: not-allowed;
  background-color: var(--background-color-input-disabled);
  color: var(--font-color-disabled);
  border-color: var(--border-color-input-disabled);
}
