@import '../../materials/colors.mod.css';

:root {
  /* Sizes */
  --font-h1: 32px;
  --font-h2: 24px;
  --font-h3: 20px;
  --font-h4: 16px;
  --font-h5: 14px;
  --font-body: 13px;
  --font-detail: 12px;

  /* Colors */
  --font-color: var(--color-black);
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
  font-weight: normal;
}

h5 {
  font-size: var(--font-h5);
  font-weight: normal;
}

.body-text {
  font-size: var(--font-body);
}

small {
  font-size: var(--font-detail);
  display: block;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.body-text,
small {
  color: var(--font-color);
}

.bold {
  font-weight: bold;
}

.information {
  color: var(--color-blue);
}

.primary {
  color: var(--color-green-25);
}

.secondary {
  color: var(--color-gray-60);
}

.positive {
  color: var(--color-green-40);
}

.negative {
  color: var(--color-red);
}

.inline {
  display: inline-block;
}

.wrap {
  white-space: pre-wrap;
}
