@import '../materials/colors.mod.css';
@import '../materials/spacings.mod.css';

:root {
  --size-large-svg: 32px;
  --size-small-svg: 18px;
  --position-origin: 20px;
}

/* Base */

.container-large,
.svg-large {
  width: var(--size-large-svg);
  height: var(--size-large-svg);
}

.container-small,
.svg-small {
  width: var(--size-small-svg);
  height: var(--size-small-svg);
}

/* Elements */

.circle {
  opacity: 0.2;
}

.pointer {
  transform-origin: var(--position-origin) var(--position-origin) 0;
  animation: spin 0.5s infinite linear;
}

.circle,
.pointer {
  fill: var(--color-navy);
}

/* Animation */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
