@import '../materials/colors.mod.css';
@import '../materials/spacings.mod.css';

/* Base */

.container {
  display: flex;
  align-items: center;
  transform-origin: 0;
  margin-left: var(--spacing-16);
}

.container-large {
  composes: container;
  transform: scale(1);
}

.container-small {
  composes: container;
  transform: scale(0.5);
}

.svg {
  width: 40px;
  height: 40px;
  float: left;
}

/* Elements */

.circle {
  opacity: 0.2;
}

.pointer {
  animation: spin 0.5s infinite linear;
}

.circle,
.pointer {
  fill: var(--color-blueNavy);
}

/* Animation */

@keyframes spin {
  from {
    transform-origin: 20px 20px 0;
    transform: rotate(0deg);
  }

  to {
    transform-origin: 20px 20px 0;
    transform: rotate(360deg);
  }
}

/* Text */

.text {
  font-weight: 200;
  color: var(--color-blueNavy);
  float: right;
  margin-left: var(--spacing-4);
  font-size: 0.9rem;
}
