@import '../../../../materials/borders.mod.css';
@import '../../../../materials/colors/base-colors.mod.css';
@import '../../../../materials/shadows/base-shadows.mod.css';
@import '../../../../materials/spacings.mod.css';
@import '../../../../materials/transitions.mod.css';

.button {
  /*
    we need to add a custom class to the button in order to change
    the looks of the button when the actual <button> is
    hovered / focused / active
  */
}

.button-layout {
  font-size: 1rem;
  transition: background-color var(--transition-linear-80ms);
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-6);
  color: var(--color-green);
  padding: var(--spacing-8);
  border: 1px solid var(--color-green);
}

.button-layout > * + * {
  margin: 0 0 0 6px;
}

.default,
.active {
  composes: button-layout;
}

.button:hover .default,
.button:hover .active,
.button:focus .default,
.button:focus .active {
  border-color: var(--color-green-25);
  color: var(--color-green-25);
}

.button:active .default,
.button:active .active,
.active {
  border-color: var(--color-green);
  color: var(--color-green-25);
  box-shadow: inset var(--shadow-1-first), inset var(--shadow-1-second);
}

.disabled {
  composes: button-layout;
  border-color: var(--color-gray);
  color: var(--color-gray);
}

.button:hover .disabled {
  border-color: var(--color-gray);
  color: var(--color-gray);
}

.button:active .disabled {
  border-color: var(--color-gray);
  color: var(--color-gray);
}
