@import '../../../materials/colors/base-colors.mod.css';
@import '../../../materials/shadows/base-shadows.mod.css';
@import '../../../materials/spacings.mod.css';
@import '../../../materials/transitions.mod.css';

/** Button wrapper */
.button-layout {
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
  transition: background-color var(--transition-linear-80ms);
}

.button-layout-big {
  composes: button-layout;
  composes: button-big-wrapper from '../shared.mod.css';
}

.button-layout-small {
  composes: button-layout;
  composes: button-small-wrapper from '../shared.mod.css';
}

/** Button element */
.active,
.disabled,
.button {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.button {
  box-shadow: var(--shadow-7-first), var(--shadow-7-second);
}

.active:hover,
.active:focus,
.button:hover,
.button:focus {
  box-shadow: var(--shadow-8-first), var(--shadow-8-second);
}

.active,
.button:active {
  box-shadow: inset var(--shadow-7-first), inset var(--shadow-7-second);
}

/**
 * Button wrapper (tones)
 */

/** primary tone */
.button-tone-primary .button {
  background-color: var(--color-green);
}

.button-tone-primary .active:hover,
.button-tone-primary .button:hover {
  background-color: var(--color-green-25);
}

.button-tone-primary .active,
.button-tone-primary .button:active {
  background-color: var(--color-green);
}

/** urgent tone */
.button-tone-urgent .button {
  background-color: var(--color-orange);
}

.button-tone-urgent .active:hover,
.button-tone-urgent .button:hover {
  background-color: var(--color-green-25);
}

.button-tone-urgent .active,
.button-tone-urgent .button:active {
  background-color: var(--color-orange);
}

/**
 * .disabled button mode, this applies to all tones.
 */
.button-layout .disabled,
.button-layout .disabled:active,
.button-layout .disabled:hover {
  background-color: var(--color-navy-98);
  color: var(--color-gray-60);

  /* Simulates the border inside */
  box-shadow: 0 0 0 1px var(--color-gray) inset;
}

/** Icon container */
.icon-container {
  margin: 0 var(--spacing-4) 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
