@import '../../materials/colors/base-colors.mod.css';

.theme-black {
  fill: var(--color-black);
}

.theme-grey {
  fill: var(--color-gray-60);
}

.theme-white {
  fill: var(--color-white);
}

.theme-blue {
  fill: var(--color-blue);
}

.theme-green {
  fill: var(--color-green);
}

.theme-green-light {
  fill: var(--color-green-40);
}

.theme-orange {
  fill: var(--color-orange);
}

.theme-red {
  fill: var(--color-red);
}

svg.scale:not(:root) {
  width: 100%;
  height: auto;
}
