@import '../../../materials/colors/base-colors.mod.css';

.theme-black path {
  fill: var(--color-black);
}

.theme-grey path {
  fill: var(--color-gray-60);
}

.theme-white path {
  fill: var(--color-white);
}

.theme-blue path {
  fill: var(--color-blue);
}

.theme-green path {
  fill: var(--color-green);
}

.theme-green-light path {
  fill: var(--color-green-40);
}

.theme-orange path {
  fill: var(--color-orange);
}

.theme-red path {
  fill: var(--color-red);
}

svg.scale:not(:root) {
  width: 100%;
  height: auto;
}
