@import '../../materials/spacings.mod.css';
@import '../../materials/colors.mod.css';

:root {
  --big-bar-height: 24px;
  --big-bar-width: 64px;
  --small-bar-height: 12px;
  --small-bar-width: 32px;
}

.toggle-bar {
  position: absolute;
  left: 0;
}

.toggle-bar-small {
  composes: toggle-bar;
  top: calc(var(--spacing-4) / 2);
  width: var(--small-bar-width);
  height: var(--small-bar-height);
}

.toggle-bar-big {
  composes: toggle-bar;
  top: var(--spacing-4);
  width: var(--big-bar-width);
  height: var(--big-bar-height);
}

.toggle-bar rect {
  fill: var(--color-gray-60);
}

.toggle-bar.active rect {
  fill: var(--color-green-25);
}

.toggle-bar.disabled rect {
  fill: var(--color-gray);
}
