.date-input-container {
  width: 100%;
  align-items: center;
  display: flex;
}

.date-input {
  width: 100%;
  appearance: none;
  background: var(--token-background-color-input-pristine);
  border-radius: var(--token-border-radius-input) 0 0
    var(--token-border-radius-input);
  border-bottom: 1px solid var(--token-border-color-input-pristine);
  border-left: 1px solid var(--token-border-color-input-pristine);
  border-top: 1px solid var(--token-border-color-input-pristine);
  border-right: none;
  height: var(--token-size-height-input);
  cursor: pointer;
  flex-grow: 1;
  font: inherit;
  margin-right: 0; /* stop that jumping */
  padding: var(--spacing-8);
  outline: 0;
}

/* Active/Focus */

.date-input:focus,
.date-input.focused,
.date-input:focus + .clear-icon-container,
.date-input.focused + .clear-icon-container {
  border-color: var(--token-border-color-input-focus);
  color: var(--token-font-color-default);
  transition: var(--transition-standard);
}

/* Warning */

.date-input.invalid,
.date-input.invalid + .clear-icon-container {
  color: var(--token-font-color-warning);
  border-color: var(--token-border-color-input-warning);
}

/* Disabled */

.date-input:disabled {
  background-color: var(--token-background-color-input-disabled);
  color: var(--token-font-color-disabled);
  border-color: var(--token-border-color-input-disabled);
  cursor: not-allowed;
  opacity: 1; /* fix for mobile safari */
}

/* Icon */

.icon-container {
  align-items: center;
  background-color: var(--token-background-color-input-pristine);
  border: 1px solid var(--token-border-color-input-pristine);
  height: var(--token-size-height-input);
  cursor: pointer;
  display: flex;
  padding: var(--spacing-4);
  outline: 0;
}

.icon-container.focused {
  border-color: var(--token-border-color-input-focus);
}

.clear-icon-container {
  composes: icon-container;
  border-left: none;
  border-right: none;
}

.calendar-icon-container {
  composes: icon-container;
  border-top-right-radius: var(--token-border-radius-input);
  border-bottom-right-radius: var(--token-border-radius-input);
}

.icon-container-disabled {
  cursor: not-allowed;
  background-color: var(--token-background-color-input-disabled);
  color: var(--token-font-color-disabled);
  border-color: var(--token-border-color-input-disabled);
}
