.button {
  /* unset all browser button styles */
  border: none;
  background: none;
  display: inline-block;
  outline: 0;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  color: inherit;
  font: inherit;
  font-size: var(--font-size-default);
  font-family: var(--font-family-default);
}

.disabled {
  composes: button;
  cursor: not-allowed;
}
