@import '../custom-properties.css';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  color: var(--color-black);
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  color: var(--color-green);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
