@import 'ui-kit/materials/colors.mod.css';

/* Structure */

.autosized-container {
  flex-grow: 1;
  flex-shrink: 0;
}

.container {
  flex-grow: 1;
  flex-shrink: 0;
}

.footer {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
}

/* Storybook */

.checkbox-cell {
  background-color: #f2f2f2;
  border-left: 2px solid var(--color-blue);
}

.checkbox-cell:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.checkbox-cell-special {
  composes: checkbox-cell;
  border-left: 2px solid red;
}
