@import '../../materials/tokens/tokens.mod.css';
@import '../../materials/colors/base-colors.mod.css';
@import '../../materials/spacings.mod.css';
@import '../../materials/shadows.mod.css';
@import '../../materials/borders.mod.css';
@import '../../materials/transitions.mod.css';
@import '../../materials/sizes.mod.css';

/* Base */

.fieldContainer {
  width: 100%;
  position: relative;
  display: flex;
}

.languageLabel {
  /* avoid wrapping label onto new lines */
  flex: 1 0 auto;
  color: var(--token-font-color-disabled);
  height: var(--token-size-height-input);
  line-height: var(--token-size-height-input);
  background-color: var(--token-background-color-input-disabled);
  border-top-left-radius: var(--token-border-radius-input);
  border-bottom-left-radius: var(--token-border-radius-input);
  border: 1px var(--token-border-color-input-disabled) solid;
  padding: 0 var(--spacing-8);
  transition: var(--transition-standard);
  border-right: 0;
  box-shadow: none;
  appearance: none;
}

.input {
  color: var(--token-font-color-default);
  font-family: var(--token-font-family-default);
  font-size: var(--token-font-size-default);
  height: var(--token-size-height-input);
  border-top-right-radius: var(--token-border-radius-input);
  border-bottom-right-radius: var(--token-border-radius-input);
  width: 100%;
  border-style: solid;
  border-width: var(--border-radius-1);
  padding: 0 var(--spacing-8);
  transition: var(--transition-standard);
  outline: none;
  box-shadow: none;
  appearance: none;
}

.input::placeholder {
  color: var(--token-font-color-placeholder);
}

/* Spinner */

.spinner {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* States */

.pristine {
  composes: input;
  border-color: var(--token-border-color-input-pristine);
  background-color: var(--token-background-color-input-pristine);
}

.warning {
  composes: input;
  color: var(--token-font-color-warning);
  border-color: var(--token-border-color-input-warning);
}

.error {
  composes: input;
  color: var(--token-font-color-error);
  border-color: var(--token-border-color-input-error);
}

.disabled {
  composes: input;
  cursor: not-allowed;
  color: var(--token-font-color-disabled);
  border-color: var(--token-border-color-input-disabled);
  background-color: var(--token-background-color-input-disabled);
  opacity: 1; /* fix for mobile safari */
}

.readonly {
  composes: input;
  border-color: var(--token-border-color-input-readonly);
  color: var(--token-font-color-readonly);
  cursor: default;
}

/* States */

.pristine:active,
.pristine:focus {
  border-color: var(--token-border-color-input-focus);
  background: var(--token-background-color-input-focus);
  color: var(--token-font-color-default);
}
