:root {
  --menu-z-index: 99999; /* copied from flatpickr */
}

.menuBase {
  overflow-y: scroll;
  color: var(--color-black);
  font-family: var(--font-family-default);
  border: 1px solid var(--border-color-input-focus);
  border-radius: var(--border-radius-input);
  margin-top: var(--spacing-4);
  font-size: var(--font-size-default);
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-white);
  z-index: var(--menu-z-index);
}

.menuBase.warning {
  border-color: var(--border-color-input-warning);
}

.menuBase.error {
  border-color: var(--border-color-input-error);
}

.menu {
  composes: menuBase;
  padding-bottom: 10px;
}

.menuWithFooter {
  composes: menuBase;
}
