@import '../../../../materials/spacings.mod.css';

.s {
  padding: var(--spacing-4) var(--spacing-8);
}
.m {
  padding: var(--spacing-8) var(--spacing-16);
}
.l {
  padding: var(--spacing-16) var(--spacing-32);
}
