.wrapper {
  overflow: hidden;
  width: 100%;
  flex: 1;
}

.hint,
.label {
  float: left;
  clear: both;
}

.hintIcon {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

.description {
  width: 100%;
  display: inline-block;
}

.hint + .description {
  margin-top: var(--spacing-4);
}

.badge {
  float: right;
  margin-left: var(--spacing-8);
}
