html,
body {
  color: var(--color-solid);
  font-family: var(--font-family-body);
  font-size: 13px;
  margin: 0;
  padding: 0;
  height: 100vh;
}

@supports (font-variation-settings: normal) {
  html, body {
    font-family: var(--font-family-variable-body);
  }
}
