@import '../../../materials/colors/base-colors.mod.css';

.tone-critical {
  background-color: var(--color-red-95);
  border: 1px solid var(--color-red);
  border-radius: 2px;
}

.tone-warning {
  background-color: var(--color-orange-95);
  border: 1px solid var(--color-orange);
  border-radius: 2px;
}

.tone-positive {
  background-color: var(--color-green-85);
  border: 1px solid var(--color-green-40);
  border-radius: 2px;
}

.tone-information {
  background-color: var(--color-blue-95);
  border: 1px solid var(--color-blue);
  border-radius: 2px;
}

.tone-primary {
  background-color: var(--color-green-95);
  border: 1px solid var(--color-green-25);
  border-radius: 2px;
}

.tone-secondary {
  background-color: var(--color-gray-90);
  border: 1px solid var(--color-gray-60);
  border-radius: 2px;
}
