name: Preview Release (Caller)

on:
  issue_comment:
    types: [created]

permissions:
  id-token: write
  contents: read
  pull-requests: write
  issues: write

jobs:
  extract-context:
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '[preview_deployment]')
    runs-on: ubuntu-latest
    outputs:
      head_ref: ${{ steps.comment-branch.outputs.head_ref }}
      issue_number: ${{ github.event.issue.number }}
    steps:
      - name: Get branch of PR
        uses: xt0rted/pull-request-comment-branch@v1
        id: comment-branch

      - name: Validate branch name
        run: |
          if [[ ! "$BRANCH_NAME" =~ ^preview/[a-zA-Z0-9_-]+$ ]]; then
            echo "Ignoring PR because of the branch name. Exiting workflow."
            exit 1
          fi
        env:
          BRANCH_NAME: ${{ steps.comment-branch.outputs.head_ref }}

  call-preview-release:
    needs: extract-context
    uses: ./.github/workflows/preview-release.yml
    with:
      head_ref: ${{ needs.extract-context.outputs.head_ref }}
      issue_number: ${{ needs.extract-context.outputs.issue_number }}
    secrets: inherit
