name: Preview Release on Comment

on:
  workflow_call:
    inputs:
      head_ref:
        required: true
        type: string
      issue_number:
        required: true
        type: string
    secrets:
      CT_CHANGESETS_APP_ID:
        required: true
      CT_CHANGESETS_APP_PEM:
        required: true

jobs:
  release-preview-on-comment:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
      issues: write

    timeout-minutes: 15

    steps:
      # Get GitHub token via the CT Changesets App
      - name: Generate GitHub token (via CT Changesets App)
        id: generate_github_token
        uses: tibdex/github-app-token@v2.1.0
        with:
          app_id: ${{ secrets.CT_CHANGESETS_APP_ID }}
          private_key: ${{ secrets.CT_CHANGESETS_APP_PEM }}

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          # Pass a personal access token (using our `ct-release-bot` account) to be able to trigger
          # other workflows
          # https://help.github.com/en/actions/reference/events-that-trigger-workflows#triggering-new-workflows-using-a-personal-access-token
          # https://github.community/t/action-does-not-trigger-another-on-push-tag-action/17148/8
          ref: ${{ inputs.head_ref }}
          token: ${{ steps.generate_github_token.outputs.token }}

      - name: Setup Node (uses version in .nvmrc)
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          registry-url: 'https://registry.npmjs.org'

      - name: Get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - uses: actions/cache@v5
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock', 'patches/*.patch') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --immutable

      - name: Building packages
        run: yarn build

      - name: Building package READMEs
        run: yarn generate-readmes
        env:
          CI: true

      # Publish preview releases only if the branch starts with "preview/" and the pr comment contains "[preview_deployment]"
      - name: Publishing preview releases to npm registry
        run: |
          PREVIEW_TAG=$(echo "$BRANCH_NAME" | sed -e 's/^preview\///')
          yarn changeset version --snapshot ${PREVIEW_TAG}
          yarn changeset publish --tag ${PREVIEW_TAG} --provenance
        env:
          GITHUB_TOKEN: ${{ steps.generate_github_token.outputs.token }}
          BRANCH_NAME: ${{ inputs.head_ref }}

      - name: Post workflow result on PR as a comment
        if: always()
        run: |
          gh issue comment ${{ inputs.issue_number }} \
           --body "Release workflow ${{ job.status == 'success' && 'succeeded ✅' || 'failed ❌' }}\nSee details: [Workflow Run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"
        env:
          GITHUB_TOKEN: ${{ steps.generate_github_token.outputs.token }}
