@import '../../materials/colors.mod.css';
@import '../../materials/spacings.mod.css';
@import '../../materials/shadows.mod.css';

.transition-standard {
  transition: all 0.2s ease;
}

.input {
  width: 100%;
  height: inherit;
  color: var(--color-greyDark);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-greySolid);
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif !important;
  padding: var(--spacing-8);
  outline: none;
  box-shadow: none;
  appearance: none;
}

/* States */

.input:active,
.input:focus {
  border-color: var(--color-greenDowny);
}

.invalid {
  color: var(--color-CTOrange);
  border-color: var(--color-CTOrange);
}

.disabled {
  cursor: not-allowed;
  background-color: var(--color-whiteCatskill);
  border: none;
  color: var(--color-greyNevada);
  opacity: 1; /* fix for mobile safari */

  /* FIXME: add a color var */
  box-shadow: var(--shadow-10-first);
}
