@import '../../materials/borders.mod.css';
@import '../../materials/colors.mod.css';
@import '../../materials/sizes.mod.css';
@import '../../materials/spacings.mod.css';
@import '../../materials/transitions.mod.css';

:root {
  --chevron-width: 11px;
  --currency-font-size: 12px;
  --currency-width: 56px;
  --options-wrapper-width: 57px;
  --height-input: 32px;
}

.field-container {
  width: 100%;
  position: relative;
  display: flex;
}

.input {
  width: 100%;
  height: var(--height-input);
  border-top-right-radius: var(--border-radius-6);
  border-bottom-right-radius: var(--border-radius-6);
  border-style: solid;
  border-width: var(--border-radius-1);
  padding: 0 var(--spacing-8);
  transition: var(--transition-standard);
  outline: none;
  box-shadow: none;
  appearance: none;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

/* Tones */

.amount-default {
  composes: input;
  border-color: var(--color-greySolid);
  color: var(--color-black);
}

.amount-disabled {
  composes: input;
  cursor: not-allowed;
  background-color: var(--color-whiteCatskill);
  border-color: var(--color-greyMischka);
  color: var(--color-greyNevada);
  opacity: 1; /* fix for mobile safari */
}

.amount-warning {
  composes: input;
  color: var(--color-orange);
  border-color: var(--color-orange);
}

.amount-error {
  composes: input;
  color: var(--color-red);
  border-color: var(--color-red);
}

/* States */

.amount-default:active,
.amount-default:focus {
  border-color: var(--color-greenDowny);
  color: var(--color-black);
}

/* Currency dropdown */
.currency-default {
  border-top-left-radius: var(--border-radius-6);
  border-bottom-left-radius: var(--border-radius-6);
  border: var(--border-radius-1) solid var(--color-greySolid);
  border-right: 0;
  background-color: var(--color-white);
  position: relative;
  height: var(--spacing-32);
  min-width: var(--currency-width);
}

.currency-active {
  composes: currency-default;
  border-color: var(--color-greenDowny);
}

.currency-disabled {
  composes: currency-default;
  background-color: var(--color-whiteCatskill);
  border-color: var(--color-greyMischka);
  color: var(--color-greyNevada);
}

.currency-warning {
  composes: currency-default;
  border-color: var(--color-orange);
  color: var(--color-orange);
}

.currency-error {
  composes: currency-default;
  border-color: var(--color-red);
  color: var(--color-red);
}

.currency-wrapper {
  height: var(--currency-font-size);
  display: flex;
  align-items: center;
  padding: var(--spacing-16) var(--spacing-8);
}

.currency-label {
  composes: currency-default;
  color: var(--color-greyNevada);
  background-color: var(--color-whiteCatskill);
}

.currency-label-disabled {
  background-color: var(--color-whiteCatskill);
  border-color: var(--color-greyMischka);
  color: var(--color-greyNevada);
}

.currency-button {
  height: var(--small-button-height);
  font-size: var(--currency-font-size);
  margin-left: auto;
  margin-right: auto;
}

.currency-button-disabled {
  color: var(--color-greyNevada);
  background-color: var(--color-whiteCatskill);
}

.chevron-icon {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-4);
  height: var(--small-button-height);
}

.chevron-icon-disabled svg {
  fill: var(--color-greyAlto);
}

.icon-wrapper {
  pointer-events: none;
  width: var(--chevron-width);
}

.options-wrapper {
  position: relative;
  z-index: 5;
  top: var(--spacing-4);
  border-radius: var(--border-radius-6);
  color: var(--color-black);
  width: var(--options-wrapper-width);

  /* to center the options under the header */
  left: -1px;
}

.options-wrapper-active {
  composes: options-wrapper;
  border: 1px solid var(--color-greenDowny);
}

.options-wrapper-error {
  composes: options-wrapper;
  border: 1px solid var(--color-red);
}

.options-wrapper-warning {
  composes: options-wrapper;
  border: 1px solid var(--color-orange);
}

.option-wrapper {
  display: block;
  text-align: left;
  width: 100%;
  padding: var(--spacing-8);
  background-color: var(--color-white);
}

.option-wrapper:first-child {
  border-radius: var(--border-radius-6) var(--border-radius-6) 0 0;
}

.option-wrapper:last-child {
  border-radius: 0 0 var(--border-radius-6) var(--border-radius-6);
}

.option-wrapper:hover {
  background-color: var(--color-whiteSnow);
}
