/* Note: This file is transformed to JSON version in order to list the colors in
the UIKit. It is thus essential that no all colors are listed under the `:root`
selector. Color groups are indicated by a comment preceeding the group of
colors. */

:root {
  /* Blues */
  --color-blue: #0679d1;
  --color-blueNavy: #213e48;
  --color-purple: #bd72ff;

  /* Reds */
  --color-red: #e60050;
  --color-orange: #f27923;

  /* Greens */
  --color-green: #4e8410;
  --color-darkGreen: #215457;
  --color-primaryGreen: #20ad92;
  --color-greenLight: #87d8c8;
  --color-buttonPrimary: #00b6a1;
  --color-buttonHover: #03c8b2;
  --color-greenDowny: #52cebf;

  /* Whites */
  --color-white: #fff;
  --color-whiteAlabaster: #fafafa;
  --color-whiteCatskill: #f9fafc;
  --color-whitePorcelain: #eff2f6;
  --color-whiteSnow: #f2f2f2;

  /* Grays */
  --color-black: #333;
  --color-grey: #aeaeae;
  --color-greyDove: #666;
  --color-greyDusty: #979797;
  --color-greyMischka: #e5e4e9;
  --color-greyTundora: #484848;
  --color-greyAlabaster: #f9f9f9;
  --color-primaryGrey: #ccc;
  --color-secondaryGrey: #848484;
  --color-coolGrey: #f6f6f6;
  --color-greyGallery: #eee;
  --color-greyGallery: #eaeaea;
  --color-greyAlto: #d8d8d8;
  --color-greyNevada: #65747d;
  --color-greySolid: #afafaf;

  /* Faded version of main colors */
  --color-fadedOrange20: color(var(--color-orange) alpha(20%));
  --color-fadedBlue20: color(var(--color-blue) alpha(20%));
  --color-fadedBlack25: color(var(--color-black) alpha(25%));
  --color-fadedBlueNavy20: color(var(--color-blueNavy) alpha(20%));
  --color-fadedWhiteCatskill90: color(var(--color-whiteCatskill) alpha(90%));
  --color-fadedPrimaryGreen20: color(var(--color-primaryGreen) alpha(20%));
  --color-fadedGreen30: color(var(--color-green) alpha(30%));
}
