/* Note: This file is transformed to JSON version in order to list the colors in
the UIKit. It is thus essential that no all colors are listed under the `:root`
selector. Color groups are indicated by a comment preceeding the group of
colors. */

:root {
  /* Grays */
  --color-grey: #aeaeae;
  --color-greyDove: #666;
  --color-greyDusty: #979797;
  --color-greyMischka: #e5e4e9;
  --color-greyTundora: #484848;
  --color-greyAlabaster: #f9f9f9;
  --color-primaryGrey: #ccc;
  --color-secondaryGrey: #848484;
  --color-coolGrey: #f6f6f6;
  --color-greyGallery: #eee;
  --color-greyGallery: #eaeaea;
  --color-greyAlto: #d8d8d8;
  --color-greyNevada: #65747d;
  --color-greySolid: #afafaf;

  /* new colors */

  --new-color-green: #00b39e;
  --new-color-green-25: color(var(--new-color-green) lightness(25%));
  --new-color-green-40: color(var(--new-color-green) lightness(40%));
  --new-color-green-85: color(var(--new-color-green) lightness(85%));
  --new-color-green-95: color(var(--new-color-green) lightness(95%));
  --new-color-white: #fff;
  --new-color-navy: #213c45;
  --new-color-navy-30: color(var(--new-color-navy) lightness(30%));
  --new-color-navy-40: color(var(--new-color-navy) lightness(40%));
  --new-color-navy-98: color(var(--new-color-navy) lightness(98%));
  --new-color-blue: #078cdf;
  --new-color-blue-95: color(var(--new-color-blue) lightness(95%));
  --new-color-gray: #ccc;
  --new-color-gray-60: color(var(--new-color-gray) lightness(60%));
  --new-color-gray-90: color(var(--new-color-gray) lightness(90%));
  --new-color-gray-95: color(var(--new-color-gray) lightness(95%));
  --new-color-orange: #f16d0e;
  --new-color-orange-95: color(var(--new-color-orange) lightness(95%));
  --new-color-red: #e60050;
  --new-color-red-95: color(var(--new-color-red) lightness(95%));
  --new-color-purple: #b866ff;
  --new-color-black: #1a1a1a;
}
