/*
  ⚠️ These styles are used for
    - SelectInput
    - AsyncSelectInput
    - CreatableSelectInput
    - AsyncCreatableSelectInput

  Always check all affected components when making changes here!
*/
@import '../../../materials/tokens/tokens.mod.css';
@import '../../../materials/transitions.mod.css';
@import '../../../materials/spacings.mod.css';
@import '../../../materials/shadows/base-shadows.mod.css';

/*
  These styles use selector specificity to determine importance, otherwise
  we'd have to use a bunch of !important statements
*/

/* Base  */

.react-select {
  min-height: var(--token-size-height-input);
  border-radius: var(--token-border-radius-input);
}

/* Default */

.react-select .react-select__value-container {
  background-color: none;
  overflow: hidden;
}

.react-select .react-select__control {
  font-size: var(--token-font-size-default);
  background-color: var(--token-background-color-input-pristine);
  border-color: var(--token-border-color-input-pristine);
  border-radius: var(--token-border-radius-input);
  min-height: var(--token-size-height-input);
  cursor: pointer;
}

/* States */

/*
  We manually add react-select-warning and react-select-error in the JS code.
  We can then use these to style components based on state which react-select
  itself does not know about.
  We use the SelectInput having both classes an CSS specificity to apply the
  right styles in the right situation.
 */

.react-select.react-select-warning .react-select__menu,
.react-select.react-select-warning .react-select__control {
  border-color: var(--token-border-color-input-warning);
}

.react-select.react-select-error .react-select__menu,
.react-select.react-select-error .react-select__control {
  border-color: var(--token-border-color-input-error);
}

/* Active / Hover */

.react-select .react-select__control:hover,
.react-select .react-select__control:active,
.react-select .react-select__control:focus,
.react-select .react-select__control--is-focused {
  border-color: var(--token-border-color-input-focus);
  box-shadow: none;
}

/* Chevron  */

.react-select .react-select__indicators {
  background: none;
}

.react-select .react-select__indicators > * + * {
  margin: 0;
  padding: 0;
  margin-left: var(--spacing-4);
}

.react-select .react-select__indicator-separator {
  display: none;
}

.react-select .react-select__dropdown-indicator {
  color: var(--token-font-color-default);
  margin-right: var(--spacing-8);
}

/* Clear indicator  */
.react-select .react-select__clear-indicator {
  display: flex;
}

/* Menu */

.react-select .react-select__menu {
  border: 1px var(--token-border-color-input-focus) solid;
  border-radius: var(--token-border-radius-input);
  background-color: var(--token-background-color-input-pristine);
  box-shadow: var(--shadow-7-first), var(--shadow-7-second);
  margin: var(--spacing-4) 0 0 0;
}

.react-select .react-select__menu-list {
  padding: 0;
  border-radius: var(--token-border-radius-input);
  background-color: var(--token-background-color-input-pristine);
}

/* Selected */

.react-select .react-select__option:active,
.react-select .react-select__option--is-selected {
  color: var(--token-font-color-default);
  background-color: var(--token-background-color-input-selected);
}

/* Focused */

.react-select .react-select__option--is-focused {
  background-color: var(--token-background-color-input-hover);
}

.react-select .react-select__option {
  transition: var(--transition-standard);
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
  color: var(--token-font-size-default);
}

/* Disabled */

.react-select .react-select__control--is-disabled {
  pointer-events: none;
  color: var(--token-font-color-disabled);
  background-color: var(--token-background-color-input-disabled);
  border-color: var(--token-border-color-input-disabled);
}

.react-select .react-select__control--is-disabled,
.react-select--is-disabled {
  cursor: not-allowed;
}

/* Placeholder */

.react-select .react-select__placeholder {
  color: var(--token-font-color-placeholder);
}

/* isMulti (a.k.a Tags) */

.react-select .react-select__value-container--is-multi {
  padding: 0 var(--spacing-8);
}

.react-select .react-select__multi-value {
  height: var(--token-size-height-tags);
  background-color: var(--token-background-color-tags-pristine);
  padding: 0;
}

.react-select .react-select__multi-value__label {
  font-size: var(--token-font-size-small);
  padding: var(--spacing-4) var(--spacing-8);
  border-radius: var(--token-border-radius-tags);
  border: 1px var(--token-border-color-tags-pristine) solid;
}

.react-select .react-select__multi-value__remove {
  border-color: var(--token-border-color-tags-pristine);
  padding: 0 var(--spacing-4);
  border-radius: 0 var(--token-border-radius-tags)
    var(--token-border-radius-tags) 0;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.react-select .react-select__multi-value__remove:hover {
  background-color: var(--token-background-color-tags-normal-hover);
  box-shadow: var(--token-shadow-box-tags-hover);
}

/* Grouping */

.react-select .react-select__group {
  padding: 0;
}

.react-select
  .react-select__group:not(:first-child)
  .react-select__group-heading {
  border-top: 1px var(--token-border-color-separator) solid;
}

.react-select .react-select__group-heading {
  color: var(--token-font-color-readonly);
  font-size: var(--token-font-size-small);
  text-transform: none;
  font-weight: bold;
  margin: 0 var(--spacing-4);
  padding: var(--spacing-8) var(--spacing-4) var(--spacing-4);
}
